<table class="table table-responsive table-striped">
    <tr>
        <th>Skill</th>
        <th>Exp Level</th>
        <th>Last Used</th>
        <th>
            <button class="btn btn-sm btn-info" ng-click="addSkillFields()" type="button"><i class="fa fa-plus"></i></button>
        </th>
    </tr>
    <tr ng-repeat="s in detials">
        <td>
            <input type="text" class="form-control">
        </td>
        <td>
            <input type="text" class="form-control">
        </td>
        <td>
            <input type="text" class="form-control">
        </td>
        <td>
            
        </td>
    </tr>
</table>
    